{% extends "base.html" %}

{% block sidebar %}
<div class="well">
    <img src="/static/avatar.jpg" class="img-rounded img-responsive">
</div>
<div class="row" style="margin:20px">
    <button class="btn btn-info col-md-8 col-md-offset-2">
        上传头像
    </button>
</div>
{% endblock %}

{% block content %}

<div class="well">
    <dl class="dl-horizontal">
        <dt>邮箱</dt>
        <dd>{{ user.email }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>昵称</dt>
        <dd>{{ user.nickname }}</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>欢迎信息</dt>
        <dd>{{ user.welcome_info }}</dd>
    </dl>
</div>

<div class="row" style="margin:20px">
    <button class="btn btn-warning col-md-4 col-md-offset-4" data-toggle="modal" data-target="#changeUser">
        修改用户信息
    </button>
</div>

<div class="modal fade" id="changeUser" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">修改用户信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" action="/account/edit/{{ user.id }}" method="post">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">昵称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="nickname" value="{{ user.nickname }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">欢迎信息</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="welcome_info" value="{{ user.welcome_info }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary col-sm-4 col-sm-offset-4">提交修改</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!--
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-2 control-label">昵称</label>
        <div class="col-sm-10">
            -->


<div class="well">
    <dl class="dl-horizontal">
        <dt>管理员用户</dt>
        <dd>
            <div class="make-switch" data-on-label="是" data-off-label="否">
                {% if user.is_super_admin %}
                <input type="checkbox" checked disabled />
                {% else %}
                <input type="checkbox" disabled />
                {% endif %}
            </div>
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>已激活用户</dt>
        <dd>
            <div class="make-switch" data-on-label="是" data-off-label="否">
                {% if user.is_active %}
                <input type="checkbox" checked disabled />
                {% else %}
                <input type="checkbox" disabled />
                {% endif %}
            </div>
        </dd>
    </dl>
</div>

<div class="row" style="margin:20px">
    <button class="btn btn-primary col-md-4 col-md-offset-4">
        进行验证问答
    </button>
</div>

{% endblock %}

