# Database
mysql_settings = {
    'user': 'root',
    'passwd': 'root',
    'host': '127.0.0.1',
    'port': 3306,
    'database': 'inori_dev', # inori_dev, inori_pro
}

email_settings = {
    'gmail': {
        'username': 'username',
        'password': 'password',
    },
}
