body {
  padding-top: 70px;
}

.btn {
  border-radius: 0px;
}

.form-control {
  border-radius: 0px;
}

.form-group {
  margin-bottom: 0px;
}

.form-group + .form-group {
  margin-top: 15px;
}

.modal-content {
  border-radius: 0px;
}

.modal-footer {
  margin-top: 0px;
}

.nav-pills > li > a {
  border-radius: 0px;
}

.well {
  border-radius: 0px;
}

#avatar {
  border: 1px solid #e3e3e3;
}

#sidenavbar {
  border: 1px solid #e3e3e3;
  background-color: #f5f5f5;
}
