{% extends "/base/modal.html" %}

{% block id %}signUp{% endblock %}

{% block header %}
<h4 class="modal-title" id="signUpLabel">注册</h4>
{% endblock %}

{% block body %}
<form id="signup_form" class="form-horizontal" role="form" action="{{ url_for('account.signup') }}" method="post">
    <div class="form-group">
        <label for="exampleInputEmail" class="col-sm-2 control-label">邮箱</label>
        <div class="col-sm-10">
            <input type="text" name="email" class="form-control" id="exampleInputAccount" placeholder="请输入您常用的邮箱" style="width: 80%">
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputNickname" class="col-sm-2 control-label">昵称</label>
        <div class="col-sm-10">
            <input type="text" name="nickname" class="form-control" id="exampleInputNickname" placeholder="^_^喜欢的昵称起一个" style="width: 80%">
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword" class="col-sm-2 control-label">密码</label>
        <div class="col-sm-10">
            <input type="password" name="password" class="form-control" id="exampleInputPassword" placeholder="登录密码" style="width: 80%">
        </div>
    </div>
    <div class="form-group">
        <label for="exampleRepeatPassword" class="col-sm-2 control-label">重复密码</label>
        <div class="col-sm-10">
            <input type="password" name="repeat_pwd" class="form-control" id="exampleRepeatPassword" placeholder="重复密码" style="width: 80%">
        </div>
    </div>
</form>
{% endblock %}

{% block footer %}
<button type="submit" class="btn btn-primary">注册</button>
{% endblock %}
