%html
  %head
    %title 主页
    <!-- lib -->
    %link{"href": "/static/build/lib.min.css", "rel": "stylesheet"}
    %script{"src": "/static/build/lib.min.js"}
  %body{"ng-app": "xhs"}
    %h1 It works!?
