doctype html
html(lang='en', "ng-app"="inori")
  head
    script(type='text/javascript', src='/static/build/lib.min.js')
    link(rel='stylesheet', href='/static/build/lib.min.css')
    script(type='text/javascript', src='/static/build/app.js')
    link(rel='stylesheet', href='/static/build/app.css')
    script(type='text/javascript', src='/static/build/modules/index/index.js')
    link(rel='stylesheet', href='/static/build/modules/index/index.css')
    title 风之小祈
  body
    .container(ng-controller="indexCtrl")

      .info
        img(src='{{inori.image}}')
        h1.nickname {{inori.nickname}}

      .links

        form.link.add(ng-submit='addLink()')
          input(placeholder="输入链接地址以收藏链接", ng-model='url')

        .link(ng-repeat='link in links')
          img.icon(src='{{link.icon}}')
          .title(href='{{link.url}}', target='blank') {{link.title}}
          .time 17:32

    .footer
      span @ 2015 stdrickforce Inori Terence
