a
  text-decoration: none !important

body
  background-color: #FFF

.container

  margin: auto
  padding: 15px
  min-height: 600px
  width: 600px

  font-size: 13px

  .info

    width: 200px
    margin: 30px auto
    text-align: center

    img
      height: 200px
      border-radius: 100px

  .trends

    .group
      position: relative

    .date
      position: absolute
      right: -70px
      padding: 0 15px
      color: #999
      font-size: 18px
      line-height: 30px
      text-align: right

    .add
      height: 30px
      line-height: 30px
      border: 1px solid #CCC
      margin-bottom: 10px

      input
        padding: 0 10px
        border: none
        height: 28px
        width: 100%

    .link
      height: 30px
      line-height: 30px
      border: 1px solid #CCC
      margin-bottom: 10px

      &:hover
        background-color: #EEE
        cursor: pointer

      .icon
        text-align: center
        height: 28px
        width: 28px
        float: left

      .title
        padding: 0 10px
        width: calc(100% - 78px)
        float: left

      input.title
        height: 28px

      .time
        float: left
        text-align: center
        border-left: 1px solid #CCC
        width: 50px

.footer
  font-size: 13px
  color: #CCC
  text-align: center
  margin: auto
  border-top: 1px solid #CCC
  width: calc(100% - 30px)
  line-height: 30px
  height: 30px
