doctype html
html(lang='en', "ng-app"="inori")
  head
    script(type='text/javascript', src='/static/build/lib.min.js')
    link(rel='stylesheet', href='/static/build/lib.min.css')
    script(type='text/javascript', src='/static/build/app.js')
    link(rel='stylesheet', href='/static/build/app.css')
    script(type='text/javascript', src='/static/build/modules/index/index.js')
    link(rel='stylesheet', href='/static/build/modules/index/index.css')
    title 风之小祈
  body
    .container(ng-controller="indexCtrl")

      .info
        img(src='{{inori.image}}')
        h1.nickname {{inori.nickname}}

      .links

        form.link.add(ng-submit='link.add()')
          input(placeholder="输入链接地址以收藏链接", ng-model='link.url')

        .link(ng-repeat='i in links')
          img.icon(src='{{i.icon}}')
          a.title(href='{{i.url}}', target='blank') {{i.title}}
          .time {{i.created_at | date: 'HH:mm'}}

    .footer
      span @ 2015 stdrickforce Inori Terence
