doctype html
html(lang='en')
  head
    script(type='text/javascript', src='/static/build/app/app.js')
    link(rel='stylesheet', href='/static/build/app/app.css')
    script(type='text/javascript', src='/static/build/modules/index/index.js')
    link(rel='stylesheet', href='/static/build/modules/index/index.css')
  body
    h1 hello inori!
    h2 hello inori!
