{% extends "base/base.html" %}

{% block source %}
{% endblock %}

{% block container %}
<div class="row" ng-controller="indexController">
    <div class="col-md-3">
        <div class="well">
            <h3>风之小祈</h3>
            <address>
                <strong>Eleme, Inc.</strong><br>
                <abbr title="Phone">15216709049</abbr><br>
                <a href="mailto:stdrickforce@gmail.com">stdrickforce@gmail.com</a>
            </address>
        </div>
    </div>
    <div class="col-md-9">
        <ul class="nav nav-pills nav-justified" role="tablist">
            <li role="presentation" class="active"><a href="#">Timeline</a></li>
            <li role="presentation"><a href="#">Broadcast</a></li>
            <li role="presentation"><a href="#">Contact Me</a></li>
        </ul>
    </div>
</div>
{% endblock %}
