{% extends "/home/base.html" %}

{% block javascript_1 %}
    $("#home_index").addClass("active");
    {% for area in var.areas %}
    $("#text_{{ area.postfix }}").pin({
        containerSelector: "#area_{{ area.postfix }}"
    })
    {% endfor %}
{% endblock %}

{% block content %}
{% for area in var.areas %}
<div class="row" id="area_{{ area.postfix }}">
    <div class="col-xs-11">
        {% for item in area.trends %}
            {% if item.item_type == 'tweet' %}
                {%- include "/home/cell/tweet.html" -%}
            {% endif %}
            {% if item.item_type == 'blog' %}
                {%- include "/home/cell/blog.html" -%}
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-xs-1">
        <h3 class="text-muted" id="text_{{ area.postfix }}">{{ area.text }}</h3>
    </div>
</div>
{% endfor %}
{% endblock %}
