{% extends "/home/base.html" %}

{% block javascript %}
    $("#home_index").addClass("active");
    $("#text_3h").pin({
        containerSelector: "#block_3h"
    })
    $("#text_6h").pin({
        containerSelector: "#block_6h"
    })
    $("#text_12h").pin({
        containerSelector: "#block_12h"
    })
    $("#text_1d").pin({
        containerSelector: "#block_1d"
    })
    $("#text_3d").pin({
        containerSelector: "#block_3d"
    })
    $("#text_1w").pin({
        containerSelector: "#block_1w"
    })
{% endblock %}

{% block content %}

<div class="row" id="block_3h">
    <div class="col-xs-11">
{% for item in var.items_3h %}
    {% if item.item_type == 'tweet' %}
        {%- include "/home/cell/tweet.html" -%}
    {% endif %}
    {% if item.item_type == 'blog' %}
        {%- include "/home/cell/blog.html" -%}
    {% endif %}
{% endfor %}
    </div>
    <div class="col-xs-1">
        <h2 class="text-muted" id="text_3h">3 hours</h2>
    </div>
</div>

<div class="row" id="block_6h">
    <div class="col-xs-11">
{% for item in var.items_6h %}
    {% if item.item_type == 'tweet' %}
        {%- include "/home/cell/tweet.html" -%}
    {% endif %}
    {% if item.item_type == 'blog' %}
        {%- include "/home/cell/blog.html" -%}
    {% endif %}
{% endfor %}
    </div>
    <div class="col-xs-1">
        <h2 class="text-muted" id="text_6h">6 hours</h2>
    </div>
</div>

<div class="row" id="block_12h">
    <div class="col-xs-11">
{% for item in var.items_12h %}
    {% if item.item_type == 'tweet' %}
        {%- include "/home/cell/tweet.html" -%}
    {% endif %}
    {% if item.item_type == 'blog' %}
        {%- include "/home/cell/blog.html" -%}
    {% endif %}
{% endfor %}
    </div>
    <div class="col-xs-1">
        <h2 class="text-muted" id="text_12h">12 hours</h2>
    </div>
</div>

<div class="row" id="block_1d">
    <div class="col-xs-11">
{% for item in var.items_1d %}
    {% if item.item_type == 'tweet' %}
        {%- include "/home/cell/tweet.html" -%}
    {% endif %}
    {% if item.item_type == 'blog' %}
        {%- include "/home/cell/blog.html" -%}
    {% endif %}
{% endfor %}
    </div>
    <div class="col-xs-1">
        <h2 class="text-muted" id="text_1d">1 day</h2>
    </div>
</div>

<div class="row" id="block_3d">
    <div class="col-xs-11">
{% for item in var.items_3d %}
    {% if item.item_type == 'tweet' %}
        {%- include "/home/cell/tweet.html" -%}
    {% endif %}
    {% if item.item_type == 'blog' %}
        {%- include "/home/cell/blog.html" -%}
    {% endif %}
{% endfor %}
    </div>
    <div class="col-xs-1">
        <h2 class="text-muted" id="text_3d">3 days</h2>
    </div>
</div>

<div class="row" id="block_1w">
    <div class="col-xs-11">
{% for item in var.items_1w %}
    {% if item.item_type == 'tweet' %}
        {%- include "/home/cell/tweet.html" -%}
    {% endif %}
    {% if item.item_type == 'blog' %}
        {%- include "/home/cell/blog.html" -%}
    {% endif %}
{% endfor %}
    </div>
    <div class="col-xs-1">
        <h2 class="text-muted" id="text_1w">1 week</h2>
    </div>
</div>

{% endblock %}

