<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <!-- Jquery -->
        <script src="http://libs.baidu.com/jquery/2.0.3/jquery.min.js"></script>

        <!-- Bootstrap  -->
        <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap-switch.css">
        <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script src="/static/js/bootstrap-switch.min.js"></script>

        <!-- Messenger -->
        <link rel="stylesheet" href="/static/plugins/messenger/css/messenger.css">
        <link rel="stylesheet" href="/static/plugins/messenger/css/messenger-theme-future.css">
        <script src="/static/plugins/messenger/js/messenger.min.js"></script>

        <!-- Inori -->
        <link rel="stylesheet" href="/static/less/inori.less">
        <script src="/static/js/inori.js"></script>

        {% block head %}{% endblock %}

        <!-- Lesscss -->
        <script src="http://libs.baidu.com/lesscss/1.3.0/less.min.js"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
