{% extends "base.html" %}

{% block title %}
    小祈和小翼的储藏室
{% endblock %}

{% block jumbotran %}
    <div class="jumbotron">
        <h1>白兔糖</h1>
        <p>小祈会拯救大家的！</p>
        <p><a class="btn btn-primary btn-lg" role="button">了解更多（但不是现在）</a></p>
    </div>
{% endblock %}

{% block index_active %}
    class = "active"
{% endblock %}

{% block bc_0 %}
{% endblock %}

{% block sidebar %}
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#">全部动态</a></li>
        <li><a href="#">状态</a></li>
        <li><a href="#">博文</a></li>
        <li><a href="#">dkp</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div>
        <div class="alert alert-success">
            123
        </div>
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-info">赞！</button>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    转发 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">人人</a></li>
                    <li><a href="#">新浪微博</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
