<div class="btn-group btn-group-xs pull-right" style="margin: 20px 20px 0 0">
    <button type="button" class="btn btn-info">赞！</button>
    <div class="btn-group btn-group-xs">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            转发 <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">人人</a></li>
            <li><a href="#">新浪微博</a></li>
        </ul>
    </div>
</div>
<div class="pull-left" style="width:60px; margin: 10px 0">
    <img src="/static/avatar.jpg" alt="100*100" class="img-rounded img-responsive">
</div>
<div class="well" style="margin: 0 0 20px 80px">
    <p>{{ item.content|safe }}</p>
    <p class="text-muted">by <strong>{{ item.user.nickname }}</strong> {{ item.created_at }}</p>
</div>
